.container{
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 20px;
}

.container,h1{
    text-align: center;
}

.task-container{
    width: 50%;
    min-height: 50px;
    margin: 10px auto;
    background-color: white;
}

ul{
    list-style-type: none;
}

.task{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 10px;
    margin-right: 50px;
}

.errore{
    color: red;
}